.editor__form-submit {
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 18px;
    line-height: 21.78px;
    color: white;
    cursor: pointer;
    transition: opacity 0.2s ease;
    border: none;
}

.editor__form-submit:hover {
    opacity: 0.6;
}